body {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;
}


#container {
    background: #ddd url(../images/jfileshare.png) no-repeat top right;
    margin: 2em;
}

#userinfo {
    position: relative;
    top: 50px;
    text-align: right;
    font-size: 0.8em;
}

#content {
    background: white;
    border: 1px solid #a7a7a7;
    padding: 1em;
    clear: both;
}

#footer {
    text-align: right;
    font-size: 0.8em;
}

input.textentry {
    width: 12em;
}
input.intentry {
    width: 3em;
    text-align: right;
}
/* Link styles */

a:link, a:visited {
    color: #206090;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #906020;
    text-decoration: underline;
}

a img {
    border: 0px;
}

/* Messageboxes */

#messagebox_info {
    background: #eee url(../images/messagebox_info.png) no-repeat 1em 1em;
}

#messagebox_warning {
    background: #eee url(../images/messagebox_warning.png) no-repeat 1em 1em;
}

#messagebox_critical {
    background: #eee url(../images/messagebox_critical.png) no-repeat 1em 1em;
}

#messagebox_info, #messagebox_warning, #messagebox_critical {
    min-height: 48px;
    border: 1px solid #a7a7a7;
    width: 40em;
    margin: 1em;
    padding: 1em;
    padding-left: 80px;
}

/* A couple of general styles */

.note {
    font-style: italic;
}

td.number {
    text-align: right;
}

table th {
    text-align: right;
    white-space: nowrap;
}

img.icon {
    width: 16px;
    height: 16px;
    border: 0px;
}

/* styles for the tabbed menu interface */

#Menu {
    padding: 0px;
    margin: 0px;
    /* height: 2em; */
    padding-top: 30px;
}

#Menu li {
    display: inline;
    text-align: center;
}

#Menu li a, #Menu li div#tabSelected {
    margin: 0em 0.3em;
    display: block;
    float: left;
    border: 1px solid #a7a7a7;
    border-bottom: 0px solid white;
    border-radius: 0.5em 0.5em 0em 0em;
    -moz-border-radius-topleft: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topright: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
}

#Menu li div#tabSelected {
    padding: 0.5em 1em;
    font-weight: bold;
    color: black;
    background: white;
    position: relative;
    top: 1px;
}

#Menu li a {
    padding: 0.3em 1em 0.2em 1em;
    color: #333;
    background-color: #ccc;
    position: relative;
    top: 0.5em;
}

#Menu li a:hover {
    background-color: #eee;
    color: black;
    text-decoration: none;
}

#dbgConsole {
    padding: 1em;
    border: 1px solid #ccc;
    margin-top: 1em;
    font-size: 0.8em;
}
