<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
    <display-name>jfileshare webapp</display-name>
    <description>
        This is jfileshare. A webbapp for sharing large (or small) files with
        others over the internet. Original version by Zoran Pucar.
        Converted to Tomcat and Ant by Markus Berg [markus.berg@sectra.se]
        Completely rewritten by Markus Berg [markus.berg@sectra.se]
    </description>
    <!-- Filter definitions -->
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>setcharacterencoding</filter-name>
        <filter-class>com.sectra.jfileshare.filters.SetCharacterEncodingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>conf</filter-name>
        <filter-class>com.sectra.jfileshare.filters.ConfFilter</filter-class>
    </filter>
    <filter>
        <filter-name>login</filter-name>
        <filter-class>com.sectra.jfileshare.filters.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>logout</filter-name>
        <filter-class>com.sectra.jfileshare.filters.LogoutFilter</filter-class>
    </filter>
    <filter>
        <filter-name>fileAuthentication</filter-name>
        <filter-class>com.sectra.jfileshare.filters.FileAuthenticationFilter</filter-class>
    </filter>
    <!-- Sitemesh filter -->
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Character encoding filter -->
    <filter-mapping>
        <filter-name>setcharacterencoding</filter-name>
        <url-pattern>/ajax/*</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/file/edit/*</url-pattern>
        <url-pattern>/file/upload/*</url-pattern>
        <url-pattern>/file/view/*</url-pattern>
        <url-pattern>/passwordreset/*</url-pattern>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <!-- Sanity filter -->
    <filter-mapping>
        <filter-name>conf</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Authentication filters -->
    <filter-mapping>
        <filter-name>logout</filter-name>
        <url-pattern>/logout/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>fileAuthentication</filter-name>
        <url-pattern>/file/download/*</url-pattern>
        <url-pattern>/file/get/*</url-pattern>
        <url-pattern>/file/view/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/file/edit/*</url-pattern>
        <url-pattern>/file/delete/*</url-pattern>
        <url-pattern>/file/log/*</url-pattern>
        <url-pattern>/file/upload/*</url-pattern>
        <url-pattern>/user/add/*</url-pattern>
        <url-pattern>/user/admin/*</url-pattern>
        <url-pattern>/user/delete/*</url-pattern>
        <url-pattern>/user/edit/*</url-pattern>
        <url-pattern>/user/view/*</url-pattern>
    </filter-mapping>
    <!-- Servlet definitions -->
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDelete</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.FileDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownload</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileEdit</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.FileEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileLog</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.FileLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileView</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.FileViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdd</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdmin</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.UserAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelete</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.UserEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserView</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.UserViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxFileNotification</servlet-name>
        <servlet-class>com.sectra.jfileshare.ajax.FileNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxFileReceiver</servlet-name>
        <servlet-class>com.sectra.jfileshare.ajax.FileReceiverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordReset</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.PasswordResetServlet</servlet-class>
    </servlet>
    <!-- "Special" servlets -->
    <servlet>
        <servlet-name>LinkCompatibility</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.LinkCompatibilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Startup</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.StartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>VacuumCleaner</servlet-name>
        <servlet-class>com.sectra.jfileshare.servlets.VacuumCleaner</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDelete</servlet-name>
        <url-pattern>/file/delete/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownload</servlet-name>
        <url-pattern>/file/download/*</url-pattern>
        <url-pattern>/file/get/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileEdit</servlet-name>
        <url-pattern>/file/edit/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileLog</servlet-name>
        <url-pattern>/file/log/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/file/upload/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileView</servlet-name>
        <url-pattern>/file/view/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdd</servlet-name>
        <url-pattern>/user/add/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdmin</servlet-name>
        <url-pattern>/user/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDelete</servlet-name>
        <url-pattern>/user/delete/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEdit</servlet-name>
        <url-pattern>/user/edit/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserView</servlet-name>
        <url-pattern>/user/view/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxFileNotification</servlet-name>
        <url-pattern>/ajax/file/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxFileReceiver</servlet-name>
        <url-pattern>/ajax/file/receiver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordReset</servlet-name>
        <url-pattern>/passwordreset/*</url-pattern>
    </servlet-mapping>
    <!-- Compatibility URL:s with older version of jfileshare -->
    <servlet-mapping>
        <servlet-name>LinkCompatibility</servlet-name>
        <url-pattern>/download/view/*</url-pattern>
        <url-pattern>/download/get/*</url-pattern>
    </servlet-mapping>
</web-app>
