#files {
    width: 880px;
    font-family: Arial, Garamound, sans-serif;
    font-size: 11px;
}

tr.firsteven td {
    background-color: #cccccc;
    padding-bottom: 3px;
    padding-left: 3px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr.even td {
    background-color: #cccccc;
    padding-bottom: 3px;
    padding-left: 3px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

tr.odd td {
    background-color: #eeeeee;
    padding-bottom: 3px;
    padding-left: 3px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

td.lastcol {
   border-right: 1px solid black;
    width: 60px;
}


input.notify {
    width: 50px;
    background-color: #444444;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0px;

    font-size: 10px;
}

input {
    margin: 0px;
    padding: 0px;
}
#userinfo td {
    padding-right: 10px;
}

#userinfo {
    margin-bottom: 10px;
}

#childdata {
    font-size: 11px;
    font-family: Helvetica,Arial,sans-serif;
    width: 600px;
}

#message {
    background-color: orange;
    width: 400px;
    margin-bottom: 10px;
    padding: 5px;
}

.logs {
    font-size: 11px;
    font-family: Helvetica,Arial,sans-serif;
    width: 100%;
}


.logs tr.even td {
    color: black;
    background-color: #aaaaaa;
    padding-left: 3px;
}

.logs tr.odd td {
    color: black;
    background-color: #cccccc;
    padding-left: 3px;
}

.newpw {
    display: none;

}

.newpw td {
    width: 150px;
}
