#files {
    width: 580px;
}
tr.filedata td {
    background-color: #cccccc;
    color: green;
}

tr.filedatal td {
    background-color: #cccccc;
    color: green;
    padding-bottom: 5px;
}

tr.filename td {
    background-color: white;
    color: black;
}

td.delete {
    width: 50px;
    font-size: 10px;
    text-align: right;
}

td.delete a {
    display: block;
    width: 100px;
    background-color: #444444;
    color: white;
    float: right;
    margin-right: 10px;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;


}

input.notify {
    width: 50px;
    background-color: #444444;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0px;

    font-size: 10px;
}

input {
    margin: 0px;
    padding: 0px;
}
#userinfo td {
    padding-right: 10px;
}

#userinfo {
    margin-bottom: 10px;
}

#childdata {
    font-size: 11px;
    font-family: Helvetica,Arial,sans-serif;
    width: 600px;
}

#message {
    background-color: orange;
    width: 400px;
    margin-bottom: 10px;
    padding: 5px;
}
