#users {
    font-family: Arial, Georgia, sans-serif;
    font-size: 11px;
    margin:0;
    padding: 0;
}

#users tr{
    margin:0;
    padding:0;
}

#user tr.first td {
    border-top: 1px solid #555555;
}

#users td{
    margin: 0;
    padding-left:3px;
    padding-right:3px;
    border-left: 1px solid #555555;

    border-bottom: 1px solid #555555;
}

#users td.last{
    border-right: 1px solid black;
}

.note {
    font-size: 10px;
    font-family: Arial, Georgia, sans-serif;
    font-style: italic;
}

#search {
    width: 400px;

}

#search td {
    font-size: 11px;
    font-family: Arial, Georgia, sans-serif;
}

#search input {
    font-size: 11px;
    border: 1px solid black;
}

#userdetail {
    width: 500px;
}

#userdetail td {
    font-size: 11px;
    font-family: Arial, Georgia, sans-serif;
}

#userdetail input {
    font-size: 11px;
    border: 1px solid black;
}

#userdetail select {
    font-size: 11px;
    border: 1px solid black;
}

.NO {
    display:block;
    font-size: 11px;
    border: 1px solid black;
    text-decoration: none;
    width: 40px;
    padding-left: 3px;
    text-align:center;
    color: black;
    height: 17px;
    
    
}